nav {
    background-color: #BA333A;
    border-radius: 16px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#navbar-logo {
    padding-left: 10px;
}

#profile-icon {
    height: 32px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4));
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    color: white;
    font-weight: 600;
    margin-right: 10px;
}

#profile-icon:hover {
    cursor: pointer;
}

#search-bar-div {
    width: 50%;
}

#search-icon {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4));
}

#search-input {
    background-color: #00000033;
}

#search-input::placeholder {
    color: rgba(255, 255, 255, 0.5) !important;
    opacity: 1;
    /* Firefox */
}

#logout {
    height: 32px;
    width: 30px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4));
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#logout-icon {
    width: 20px;
    height: auto;
    filter: invert(1);
}

#logout-icon:hover {
    cursor: pointer;
}